@media (max-width: 767px) {
    .container {
        width: 90%;
    }

    .card-text .box {
        width: 100%;
        padding: 60px;
    }

    .topics ul li {
        font-size: 16px;
    }

    .logo img {
        width: 50%;
        height: auto;
    }

    .language img, .Origin img {
        width: 80%;
        height: auto;
    }
}

