.card-container {
width: 17rem;
height:25rem;
border-radius: 5px;
display: flex;
flex-direction: column;
background-color:white ;
transition: all 0.1s ease-in-out;

}

.card-container:hover{
    transform: scale(1.05);
}

.card-img {
width:100%;
border-radius: 5px 5px 0rem 0rem;
height: 10rem;
}
.card-title {
    margin:0.5rem 5%;
    text-align: center;
}
.card-description {
    padding: 0 10px;
   
}

.card-btn {
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 0.5rem 1rem ;
    background-color: blue;
    color: #ffffff;
    text-decoration: none;
    margin: 0.85rem;
    justify-content: end;
    align-self: center; 
    margin-top: auto;
}

