
/* Styling for the Navbar */
.Navbar {
  background-color: rgb(0, 160, 253); 
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  
  position: relative;
}


.Navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Navbar .logo-img {
  width: 70px;
  height: 60px;
  object-fit: cover;
}


.Navbar .logo span {
  color: rgb(194, 15, 15);
  font-size: 20px;
  font-weight: bold;
}


.Navbar .nav-links-container {
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  
 }
 
.Navbar .nav-links {
  display: flex;  
  gap: 20px;  
}


.Navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


.Navbar .nav-links a:hover {
  text-decoration: underline;
}

.Navbar .hamburger-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}


.Navbar .dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(8, 8, 8);
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.Navbar .dropdown-menu a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


@media (max-width: 768px) {
  .Navbar .nav-links {
    display: none;  
  }

  .Navbar .hamburger-icon {
    display: block;
  }

  .Navbar .dropdown-menu.open {
    display: flex;  
  }
}

